body 

    {
        color: #333;
        text-align: center;
        font-family: 'Times New Roman';
        font-size: 18px;
        margin: 0;
        padding: 0;
    }
    #cabecera 
    {
        background: #33f;
        box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
        color: white;
        font-weight: bold;
        margin: 0;
        padding: 1cm, 8cm;
    }
    #tagline
    {
        padding: 0,0,0,3cm;
        font-weight: normal;
        font-size: 0cm, 8cm;
    }
    #container
    {
        width: 90%;
        padding: 1em;
        text-align: center;
        border: 1px solid #ddd;
        margin: 0 auto;
    }
    
    #container h1
    {
        font-size: 30px;
    }
    #post
    {
        padding: 2cm;

    }